{# custom/plugins/NaoExample/src/Resources/views/storefront/page/product-detail/index.html.twig #}

{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}

{% block page_product_detail_headline %}
    {{ parent() }}
    <div>追加のHTMLブロック</div>
    {{ page.extensions.customBlock|raw }}
{% endblock %}
